/* 应用主题颜色 */
$theme-color: #02a774;

/* 外边距重叠修复 */
@mixin overlapfix {
   &::before {
      content: "";
      display: table;
   }
}

/* 高度塌陷修复 */
@mixin clearfix {
   &::after {
      content: "";
      display: table;
      clear: both;
   }
}